<div class= "container">
	<div class="row">
      	<div class="col-md-6 col-md-offset-3">
      		<h1> All Events  </h1>
			<% @events.each do |event|%>
				<div style="height: 25rem; border: 1px solid black">
		    		<div>
		  				<center>
			    			<h4><b>Event no: </b><%= event.id%> || <b>Title: </b><%= event.title%>
			    			</h4>
			    			<p><b>Date: </b><%= event.event_date%></p>
			    			<hr>
				    		<p><b>Description: </b><%= event.description%></p>
				    		<p><b>Address: </b><%= event.address%></p>
				    		<p><b>Seats: </b><%= event.seats%></p>
				    		
				    		<%= link_to "Going", response_index_path(event_id: event.id, value:"going"),method: :post, class: " btn btn-info" %><%=going(event)%>
				    		<%=link_to "Not Going" ,response_index_path(event_id: event.id, value:"not going"),method: :post, class: " btn btn-danger" %><%=not_going(event)%>
				    		<%=link_to "May be" ,response_index_path(event_id: event.id, value:"may be"),method: :post, class: " btn btn-warning" %><%=may_be(event)%>
			    		</center>
		  			</div>
				</div>
			<%end%>
		</div>
	</div>
</div>