<div class= "container">
	<div class="row">
	   <div class="col-md-6 col-md-offset-3">
	   		<h1> All Events  </h1>
			<% @events.each do |event|%>
				<div class="jumbotron">
			  		<center>
				    	<div class="page-header">
                 			<h1><em><%= event.title%></em></h1>
                  		</div>
				    	<p><b>Date: </b><%= event.event_date.strftime("%a, %b %e, %Y")%></p>
					   <p><b>Description: </b><%= event.description%></p>
					   <p><b>Address: </b><%= event.address%></p>
					   <p><b>Seats: </b><%= event.seats - going(event).count %> Available(<%= event.seats%> <b>Total</b>)</p>
					    		
					   <%= link_to "Going <span class='badge'>#{going(event).count}</span>".html_safe, response_index_path(event_id: event.id, value:"going"), method: :post, class: "btn btn-primary btn-lg" %> 
					   <%=link_to "Not Going <span class='badge'>#{not_going(event).count}</span>".html_safe ,response_index_path(event_id: event.id, value:"not going"),method: :post, class: " btn btn-danger btn-lg" %>
					   <%=link_to "May be <span class='badge'>#{may_be(event).count}</span>".html_safe ,response_index_path(event_id: event.id, value:"may be"),method: :post, class: " btn btn-warning btn-lg" %>
				   </center>
				</div>
			<%end%>
		</div>
	</div>
</div>
