<h1>Page for creating new events</h1>

<div class='container'>
  <%= form_for(@events) do |f| %>
    	<div class= "field">
           <%= f.label :title %><br/>
           <%= f.text_field :title, autofocus: true, class: 'form-control'%>
        </div>
        <div class= "field">
           <%= f.label :description %><br/>
           <%= f.text_area :description, autofocus: true, class: 'form-control'%>
        </div>
        <div class= "field">
           <%= f.label :address %><br/>
           <%= f.text_area :address, autofocus: true, class: 'form-control'%>
        </div>
        <div class= "field">
           <%= f.label :seats %><br/>
           <%= f.number_field :seats, autofocus: true, class: 'form-control'%>
        </div>
        <div class= "field">
           <%= f.label :event_date %><br/>
           <%= f.date_field :event_date, autofocus: true, class: 'form-control'%>
        </div>
    	<%= f.submit %>
  <% end %>
</div>