<div class= "container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1> My Events  </h1>
			<% @events.each do |event|%>
				<div class="jumbotron">
					<center>
						<div class="page-header">
							<h1><em><%= event.title.upcase%></em></h1>
						</div>
						<p><b>Date: </b><%= event.event_date.strftime("%a, %b %e, %Y")%></p>
						<p><b>Description: </b><%= event.description%></p>
						<p><b>Address: </b><%= event.address%></p>
						<p><b>Seats: </b><%= event.seats - going(event).count %> Available(<%= event.seats%> <b>Total</b>)</p>
						<span class="btn btn-primary btn-lg" disabled="true"> Going <span class='badge'><%= going(event).count %> </span></span>
						<span class="btn btn-danger btn-lg" disabled="true"> Not going <span class='badge'><%= not_going(event).count%> </span></span>
						<span class="btn btn-warning btn-lg" disabled="true"> May be <span class='badge'><%= may_be(event).count%> </span></span>
						</br></br>
						<%= link_to "Event details",details_path(event_id: event.id), class: "btn btn-info btn-lg"%>
						<%= link_to "delete", event, class: "btn btn-danger btn-lg" ,method: :delete, data: {confirm: "You sure?"}%>
					</center>
				</div>
			<%end%>
		</div>
	</div>
</div>